In [32]:
from tmdb_modules import (TMDBCastCrewScraper,
                         TMDBMovieScraper, 
                         get_movie_payload, 
                         MultiThreading)
import tmdbsimple as tmdb
import concurrent.futures

In [33]:
# put your API key here
tmdb.API_KEY = '03ba24122703f9cff69789b9ebbd342e'

# Get Movies

In [14]:
# instantiate class with the years you want to query
movies = TMDBMovieScraper(years_check=[1999,2000])

In [15]:
# get the movie data
df_movies = movies.get_movies()

Getting data for [1999, 2000]
Getting movie data for 378 movies..
Done

In [17]:
df_movies.head().T

id                                                                  497  ...                                                564
movie                                                    The Green Mile  ...                                          The Mummy
overview              A supernatural tale set on death row in a Sout...  ...  Dashing legionnaire Rick O'Connell stumbles up...
popularity                                                       77.156  ...                                              59.79
release_date                                                 1999-12-10  ...                                         1999-04-16
vote_average                                                        8.5  ...                                                6.9
poster_path                            /o0lO84GI7qrG6XFvtsPOSV7CTNa.jpg  ...                   /yhIsVvcUm7QxzLfT6HW2wLf5ajY.jpg
release_year                                                       1999  ...                                               1999
keywords              [southern usa, mentally disabled, based on nov...  ...  [library, secret passage, cairo, egypt, pastor...
results                                                              []  ...  [Trying to cram action, adventure, fantasy, ro...
budget                                                         60000000  ...                                           80000000
genres                                          [Fantasy, Drama, Crime]  ...                       [Adventure, Action, Fantasy]
production_countries                         [United States of America]  ...                         [United States of America]
revenue                                                       286801374  ...                                          415885488
tagline                                             Miracles do happen.  ...  The legend you know. The adventure you have ye...

[14 rows x 5 columns]

# Get Cast

In [26]:
cast = TMDBCastCrewScraper(df.index)

In [27]:
# get the movie data
df_cast = cast.get_cast_crew()

In [31]:
cast.df

      adult  gender     id  ...                 credit_id order tmdb_id
0     False       2     31  ...  52fe424ac3a36847f8012bc7     0     497
1     False       2  61981  ...  52fe424ac3a36847f8012bcb     1     497
2     False       2     52  ...  52fe424ac3a36847f8012c0f     2     497
3     False       1   5149  ...  52fe424ac3a36847f8012c0b     3     497
4     False       2   2169  ...  52fe424ac3a36847f8012c13     4     497
...     ...     ...    ...  ...                       ...   ...     ...
9035  False       2  15105  ...  60bebdd5b04605005720cfcb    17   18621
9036  False       1  13451  ...  56b7d0a0c3a36806ee00e03b    18   18621
9037  False       2  57407  ...  60bebe41960cde00562bc2d7    19   18621
9038  False       2  57406  ...  60bebe9ba44d090042d9acee    20   18621
9039  False       2  57405  ...  60bebebd072166006f799c43    21   18621

[9040 rows x 13 columns]