In [3]:
from tmdb_modules import (TMDBCastCrewScraper,
                         TMDBMovieScraper, 
                         get_movie_payload, 
                         MultiThreading)
import tmdbsimple as tmdb
import concurrent.futures

# API Key

In [2]:
# put your API key here
# tmdb.API_KEY =

# Get Movies

In [4]:
# instantiate class with the years you want to query
movies = TMDBMovieScraper(years_check=[1990,2023])

In [5]:
# get the movie data
df_movies = movies.get_movies()

Getting data for [1990, 2023]
Getting movie data for 289 movies..
Done

In [6]:
df_movies.head().T

id,968051,678512,980489,565770,615656
movie,The Nun II,Sound of Freedom,Gran Turismo,Blue Beetle,Meg 2: The Trench
overview,"In 1956 France, a priest is violently murdered...","The story of Tim Ballard, a former US governme...",The ultimate wish-fulfillment tale of a teenag...,Recent college grad Jaime Reyes returns home f...,An exploratory dive into the deepest depths of...
popularity,3660.338,3627.783,2625.075,1652.788,1142.891
release_date,2023-09-06,2023-07-03,2023-08-09,2023-08-16,2023-08-02
vote_average,7.0,8.0,8.0,7.1,6.9
poster_path,/5gzzkR7y3hnY8AD1wXjCnVlHba5.jpg,/qA5kPYZA7FkVvqcEfJRoOy4kpHg.jpg,/51tqzRtKMMZEYUpSYkrUE7v9ehm.jpg,/mXLOHHc1Zeuwsl4xYKjKh2280oL.jpg,/4m1Au3YkjqsxF8iwQy0fPYSxE0h.jpg
release_year,2023,2023,2023,2023,2023
keywords,"[france, bullying, sequel, religion, demon, go...","[kidnapping, human trafficking, child kidnappi...","[based on true story, racing, based on video g...","[armor, superhero, family relationships, famil...","[based on novel or book, sequel, kaiju, civil ..."
results,[],[As someone who was a victim of child sexual a...,"[Movie is really good, but there is one obviou...",[MORE SPOILER-FREE MINI-REVIEWS @ https://www....,"[Now the ""Meg"" (2018) itself could never be ca..."
budget,38500000.0,15000000.0,60000000.0,120000000.0,129000000.0
genres,"[Horror, Mystery, Thriller]","[Action, Drama]","[Adventure, Action, Drama]","[Action, Science Fiction, Adventure]","[Action, Science Fiction, Horror]"
production_countries,[United States of America],[United States of America],[United States of America],[United States of America],"[China, United States of America]"
revenue,231200000.0,230953510.0,114800000.0,126800000.0,384056482.0
tagline,Confess your sins.,Fight for the light. Silence the darkness.,From gamer to racer.,Jaime Reyes is a superhero whether he likes it...,Back for seconds.

# Get Cast

In [39]:
cast = TMDBCastCrewScraper(df_movies.index)

In [40]:
# get the movie data
df_cast = cast.get_cast_crew()

In [42]:
df_cast.head()

      adult  gender       id  ...                 credit_id order  tmdb_id
0     False       2  1179651  ...  63ac60f91f748b008236aca2     0  1041513
1     False       1   968367  ...  635c12a09ba86a007d777b73     1  1041513
2     False       1  1489764  ...  635c12ba0f526500799ed5c4     3  1041513
3     False       1  2489411  ...  635c12c2a39d0b007a8eee92     4  1041513
4     False       1  1010157  ...  635c12c9a39d0b0082620f7c     5  1041513
...     ...     ...      ...  ...                       ...   ...      ...
6769  False       1  2354142  ...  62f0ce3a1f748b00811603ed     6   818612
6770  False       2   153789  ...  62f0ce7385b105007df0d276     8   818612
6771  False       1  1723913  ...  62f0ce8fa1074b00920f8336     9   818612
6772  False       2    57563  ...  62405e350f365500965f0750     0   950445
6773  False       2  3546204  ...  627cd17b20e6a513bbe6d6b3     4   950445

[6774 rows x 13 columns]